@font-face {
    font-family: "myfont";
    src: url(xD.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "myfont";
    transition: 0.3s;
    font-size: 16px;
}
:root{
    --main_color: #a16aff;
    --sec_color: rgb(197 193 255);
    --sec_color2: rgb(227 216 255);
}
body{
    height: 100vh;
    background-color: var(--sec_color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.container{
    width: 600px;
    height: 350px;
    background-color: var(--sec_color2);
    border-radius: 15px;

    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.352);
    display: flex;
    justify-content: space-between;
    padding: 25px;
    flex-direction: column;
    align-items: center;
}

.container .quote{
    height: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.container .quotes{
    width: 100%;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: center;
    align-items: start;

}
.container .author{
    
    align-self: flex-end;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.quote .active{
opacity: 0;
}
.author:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: var(--main_color);
    left: -25px;
    border-radius: 50px;
}
.container header{
    font-size: 28px;
    letter-spacing: 7px;
    padding-left: 7px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

}
.container header:before{
    content: '';
    position: absolute;
    width: 45%;
    height: 3px;
    background-color: var(--main_color);
    bottom: -10px;
    border-radius: 50px;
}
.container button{
    padding: 10px 50px;
    border: 2px solid var(--main_color);
    background-color: transparent;
    color: var(--main_color);
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
}
.container button:hover{
    background-color: var(--main_color);
    color: white;
}
@media (max-width: 450px) {
    *{
        font-size: 13px;
    }

    .container header{
        font-size: 23px;
    }
    .container button{
        padding: 8px 40px;
        font-size: 12px;
    }
} 